fastapi
uvicorn
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
python-dotenv==1.0.0
passlib==1.7.4
bcrypt==3.2.2
python-jose[cryptography]==3.3.0
python-multipart
pydantic[email]
langgraph
langchain-huggingface
langchain-core
langchain-community
langchain-pinecone
langchain-cohere
pinecone
langchain-groq
llama-parse
nest-asyncio
duckduckgo-search
langfuse<3
pandas
ragas