streamlit
langgraph
python-dotenv
langchain-huggingface
langchain-core
langchain-text-splitters
langchain-community
langchain-pinecone
langchain-classic
langchain-cohere
pinecone
langchain-groq
psycopg2-binary
uvicorn
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pypdf
streamlit_cookies_controller